<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTjMjPCa2EHMBRDsxsgjB6Tvsv3n5o9kw</string>
	<key>GCM_SENDER_ID</key>
	<string>23864055922</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BodgarDev.MiFloreria</string>
	<key>PROJECT_ID</key>
	<string>mifloreria-5ead0</string>
	<key>STORAGE_BUCKET</key>
	<string>mifloreria-5ead0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23864055922:ios:326bc45342f00dc715caeb</string>
</dict>
</plist>